/***************************
********** Fonts *********** 
***************************/

/* latin */
@font-face {
  font-family: 'Mulish';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mulish/v3/1Pttg83HX_SGhgqk2jovaqRFB_ie.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Mulish';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mulish/v3/1Pttg83HX_SGhgqk2jovaqRFB_ie.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Mulish';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mulish/v3/1Pttg83HX_SGhgqk2jovaqRFB_ie.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mulish/v3/1Ptvg83HX_SGhgqk3wotYKNnBQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mulish/v3/1Ptvg83HX_SGhgqk3wotYKNnBQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mulish/v3/1Ptvg83HX_SGhgqk3wotYKNnBQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Mono'), local('UbuntuMono-Regular'), url(https://fonts.gstatic.com/s/ubuntumono/v7/ViZhet7Ak-LRXZMXzuAfkY4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

/* latin */
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 700;
  src: local('Ubuntu Mono Bold'), local('UbuntuMono-Bold'), url(https://fonts.gstatic.com/s/ubuntumono/v7/ceqTZGKHipo8pJj4molytolIZu-HDpmDIZMigmsroc4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}


/******************************
****** Code Highlighting ****** 
*******************************/
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background-color: #FFF;
  font-family: 'Ubuntu Mono';
  font-weight: 400;
}

/* Base color: saturation 0; */
.hljs,
.hljs-subst {
  color: #444;
}

.hljs-comment {
  color: rgb(76, 136, 107);
}
.hljs-string {
  color: rgb(3, 106, 7);
}

.hljs-keyword,
.hljs-attribute,
.hljs-selector-tag,
.hljs-meta-keyword,
.hljs-doctag,
.hljs-name {
  font-weight: bold;
}

.hljs-keyword {
  color: rgb(0, 0, 255);
}

/* User color: hue: 0 */
.sourceCode .hljs-type,
.sourceCode .hljs-number,
.sourceCode .hljs-selector-id,
.sourceCode .hljs-selector-class,
.sourceCode .hljs-quote,
.sourceCode .hljs-template-tag,
.sourceCode .hljs-deletion {
  color: rgb(0, 0, 205);
}

.hljs-literal {
  color: rgb(88, 72, 246);
}

.hljs-title,
.hljs-section {
  color: #880000;
  font-weight: bold;
}

.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #BC6060;
}

/* Language color: hue: 90; */
.hljs-built_in,
.hljs-bullet,
.hljs-code,
.hljs-addition {
  color: #397300;
}

/* Meta color: hue: 200 */
.hljs-meta {
  color: #1f7199;
}

.hljs-meta-string {
  color: #4d99bf;
}

/* Misc effects */
.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.bash .hljs-string,
.bash .hljs-literal,
.bash .hljs-number,
.bash .hljs-keyword{
  color: #404040;
}

.slideContent pre {
  /*margin-left: 30px;*/
  /*margin-right: 30px;*/
  width: 100%;
}

.reveal section pre {
    box-shadow: 0 0 0;
    border-radius: 2px;
}

.reveal section pre code {
    font-size: 22px;
    line-height: 1em;
    overflow: hidden;
    white-space: pre-wrap;
}

section .slideContent pre code.python.hljs,
section .slideContent pre code.scala.hljs,
section .slideContent pre code.sql.hljs{
  background-color: #F0F0F0;
}

div.sourceCode {
  margin: 0;
}

pre code.sourceCode.python.hljs,
pre code.sourceCode.r.hljs,
pre code.sourceCode.scala.hljs, 
pre code.sourceCode.sql.hljs {
  background-color: #F0F0F0;
  letter-spacing: -1px;
}

.reveal pre {
  margin-top: 0;
  border: 2px solid #ccc;
}

.reveal span {
  font-style: normal;
}

pre > code.sourceCode > span {
  line-height: 1
}

/**** Links ****/

/* unvisited link */
.reveal section a:link {
  color: #845ba3;
  font-weight: 700;
  font-style: italic;
}

/* visited link */
.reveal section a:visited {
  color: #845ba3;;
}

/* mouse over link */
.reveal section a:hover {
  color: #7F7F7F !important;
}

/**** Section, Paragraph, Headers ****/

/* Title slide background */
div.backgrounds > div:first-child {
  background: #f9fbfb;
}

section:first-child {
  top:20%;
}

.reveal h1 {
    font-family: 'Mulish', sans-serif;
    color: #261144;
    font-size: 1.55em;
    text-align: center;
}

.reveal h2 {
  font-size: 1.3em;
  font-weight: bold;
  font-family: 'Mulish', sans-serif;
}

.reveal h2 img{
  display: block; 
  margin: 0 auto !important;
  height: 200px;
  }

.reveal section h3 {
  font-family: 'Mulish';
  font-weight: 700;
  color: #261144; 
  text-align: center; 
  width:100%;
}

.reveal .slides section .slideContent h3 {
  font-family: 'Mulish';
  color: #261144;
  background: #f9fbfb;
}

.title-page-title h4 {
  font-family: 'Mulish';
  color: #261144; 
  font-weight: 700;
  text-align: center; 
  white-space: nowrap;
  width:100%;
  margin-top: 75px;
}

.title-page-subtitle h5 {
  color: #261144; 
  background: #f9fbfb;
  text-align: center; 
  white-space: nowrap;
  width:100%;
  font-size: 20px;
  font-family: 'Mulish';
  font-weight: 400;
  font-style: italic;
  margin-top: 50px;
}

.title-slide.slide.level1.past,
.title-slide.slide.level1.present,
.title-slide.slide.level1.future {
  height: 768px;
}

/* Columns */

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
}

.three-cols {
  float: left;
  width: 33.33%;
}

.four-cols {
  float: left;
  width: 25%;
}

.two-cols {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.notes {
  display: none;
}

.root-dir {
  display: none;
}

.reveal .slides>section,
.reveal .slides>section>section {
  padding: 0 0;
  text-align: left;
}

.section .reveal .state-background {
    background: #f9fbfb;
}

.reveal section del {
   text-decoration: none;
   color: #ff350f;
   font-family: 'Mulish';
   font-weight: 700;
}

.reveal section strong {
   text-decoration: none;
   color: #845ba3;
   font-family: 'Mulish';
   font-weight: 700;
}

.reveal section p{ 
  font-family: 'Mulish';
  font-weight: 300;
  font-size: 32px;
  color: #261144;
}

.reveal p {
  margin: 0;
}
.reveal table{
  margin-bottom: 0.3em;
}

.maroon-emphasis {
  color: #980000; 
}

.orange-emphasis {
  color: #EC6804; 
}

.scarlet-emphasis {
  color: #ff350f;
}

.dark-green-emphasis {
  color: #445A1F; 
}

.green-emphasis {
  color: #008000; 
}

.purple-emphasis {
  color: #94349D; 
}

.gray-emphasis {
  color: #7F7F7F; 
}

.blue-emphasis {
  color: #72cfdf; 
}

.dark-blue-emphasis {
  color: #000066; 
}

.crayon-purple-emphasis {
  color: #845ba3; 
}

.centered-text {
  text-align: center;
}

.reference {
  font-size: 18px !important;
}

.right-aligned-text {
  text-align: right;
}

.reveal section b {
  font-family: 'Mulish';
  font-weight: 700;
  color: #261144;
}

/* Lists & bullets */

.reveal section ul, 
.reveal section ol{
  font-family: 'Mulish';
  display:inline-block;
  padding-left:1.5em;
  margin:0.25em;
  list-style:none;
  font-weight: 400;
  margin-bottom: 0.4em;
  font-size: 32px;
  color: #261144;
}

.reveal section ul > li, 
.reveal section ol >li {
  clear:left;
  margin: 0;
}

.reveal section ol {
  counter-reset: liNum;
}

.reveal section ol > li {
  counter-increment:liNum 1;
}

.reveal section ul > li:before, 
.reveal section ol > li:before {
  content:"";
  height:1em;
  width:1em;
  display:block;
  float:left;
  margin-left:-1.1em;
  background-position:center;
  background-repeat:no-repeat;
  background-size:100%;
  /*padding-top: 0.5em;*/
}

.reveal section ol > li:before {
  padding-top: 0;
  font-weight: 400;
  margin-left:-1.5em;
  content:counter(liNum) ". ";
  text-align:center;
  color: #ff350f;
}

.reveal section  ul > li{
  list-style: none;
  font-family: 'Mulish';
}

.reveal section  ul > li:before{
  height: 0.43em;
  width: 0.43em;
  background-color: #ff350f;
  border-radius: 50%;
  position: relative;
  top: 0.5em;
}

.reveal section ul > li:hover:before{
  background-size:100%;
}

.reveal section li > ul > li::before {
  background-color: #f9fbfb;
  position: relative;
  top: 0.5em;
  border: 2px solid #ff350f;
  border-radius: 50%;
  width: 0.25em;
  height: 0.25em;
}

.reveal section li > ul,
.reveal section li > ol{
    font-weight: 300;
    margin-top: 0;
    padding-top: 0;
}

.reveal section li > ol{
    font-weight: 300;
    margin-top: 0;
    padding-top: 0;
}

.reveal section li > ol > li {
  counter-increment:liSubNum 1;
  
}

.reveal section li > ol > li:before{
  content: counter(liSubNum, lower-roman) ". ";
  text-align:center;
  color: #ff350f;
}

/* Tables */

.reveal table {
    font-family: "Mulish";
    font-weight: 400;
    font-size: 26px;
    border-collapse: collapse;
    border: 1px solid #e2e2e2;
    width: 95%;
    margin: 0 auto;
}


.reveal table td, th {
    border: 1px solid #e2e2e2;
    text-align: left;
    padding: 8px;
    text-shadow: none;
}

.reveal table tbody tr td ul li{
    font-size: 26px;
    font-weight: 400;
}

.reveal  table td, th .thin-rows {
  padding: 1px;
}


.reveal table th {
    background-color: #422b72;
    border: 1px solid #e2e2e2;
    color: white;
    text-shadow: none;
    text-align: center;
    vertical-align: middle;
}

.reveal table tr:nth-child(odd) {
  background-color: #f4f4f4;
}


.reveal .simpletable, 
.reveal .simpletable th{
    padding: 0;
    font-size: 18px;
    background-color: #B5B2B2;
    border: 0.5px solid #B5B2B2;
    line-height: 1.6em;
    text-align: left;
}

.reveal .simpletable tr,
.reveal .simpletable td{
  border: 0.5px solid #B5B2B2;
  padding: 0;
  text-align: right;
}

.reveal .simpletable tr:nth-child(odd) {
    background-color: white;
}



/* Other styles */

.short-pointer {
    width: 200px;
    height: 40px;
    position: relative;
    background: #ff350f;
}  

.long-pointer {
    width: 1200px;
    height: 40px;
    position: relative;
    background: #ff350f;
}  

.long-pointer:after,
.short-pointer:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid white;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
}

.long-pointer:before,
.short-pointer:before{
    content: "";
    position: absolute;
    right: -20px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid #ff350f;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
}

.clear {
  clear: left;
  width: 100%;
  padding-top: 50px !important;
}

.centered {
  width: 100%;
  margin: 0 auto !important;
}

.box-around {
  width: 100%;
  border: 5px solid #ff350f !important;
}

.box-around-inner{
  width: 1145px;
  border: 5px solid #ff350f !important;
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
 
.reveal .controls .navigate-left,
.reveal .controls .navigate-left.enabled {
  border-right-color: #808080;
}

.reveal .controls .navigate-right,
.reveal .controls .navigate-right.enabled {
  border-left-color: #808080;
}

.reveal .controls .navigate-left.enabled:hover {
  /* border-right-color: 267EC8; */
  
  border-right-color: #E0E0E0;
}

.reveal .controls .navigate-right.enabled:hover {
  border-left-color: #E0E0E0;
}

.reveal .controls .navigate-up {
  display: none;
}

.reveal .controls .navigate-down {
    display: none;
}

.reveal .progress span {
  background: #808080;
}



/******************
 * IMAGE CONTROLS *
 ******************/ 
.reveal .slides section .slideContent p img{
   max-height: 700px !important;
 }
 
.reveal section img {
  margin: 5px;
  background: none;
  border: none;
  box-shadow: none;
}

.text-after-image {
  clear: left;
}

.reveal .slides section .column img {
  max-height: 600px;
}

.reveal .slides section .column img[alt=full-width],
.reveal .slides section .column img[alt=height-300],
.reveal .slides section .column img[alt=height-250],
.reveal .slides section .column img[alt=height-200],
.reveal .slides section .column img[alt=height-200-orange-border],
.reveal .slides section .column img[alt=height-150]{
  display: block;
  position: relative;
	margin-left: 15px;
}


.reveal .slides section .column img[alt=full-width] {
	border: 2.5px solid #C0C0C0;
}

.reveal .slides section .column img[alt=height-300] {
  max-height: 300px;
}

.reveal .slides section .slideContent p img[alt=centered-height-250]{
  max-height: 250px !important;
}

.reveal .slides section .column img[alt=height-450] {
  max-height: 450px;
}

.reveal .slides section .column img[alt=height-200] {
  max-height: 200px;
}

.reveal .slides section .column img[alt=height-200-orange-border] {
	border: 10px solid #ff350f;
  max-height: 200px;
}

.reveal .slides section .column img[alt=height-150] {
  max-height: 150px;
}

img[alt=centered],
.reveal .slides section img[alt=centered-border],
.reveal .slides section .slideContent p img[alt=centered-height-250],
.reveal .slides section img[alt=centered-orange-border],
img[alt=icon-centered],
img[alt=small-centered] {
  display: block;
  margin: 0 auto !important;
}

.reveal .slides section img[alt=centered-border]{
  border: 2.5px solid #C0C0C0;
}

.reveal .slides section img[alt=centered-orange-border]{
  border: 4.5px solid #ff350f;
}

img[alt=icon-centered] {
	width: 25%;
}

img[alt=small-centered] {
	width: 50%;
}

img[alt=icon-right] {
	float: right;
	max-height: 200px !important;
}

img[alt=icon-left-bottom] {
	top: 70%;
	display: block;
  position: absolute;
	height: 200px !important;
}

.reveal .slides section .mediaOnly img {
  max-width: 1200px;
  max-height: 600px;
}

.img-right {
    position: absolute;
    right: 0;
    top: 300px;
    width: 50%;
}

.reveal img {
  max-height: 700px;
}

.reveal .slides section .slideContent p img{
   max-height: 700px !important;
 }
 
.reveal section img {
  margin: 5px;
  background: none;
  border: none;
  box-shadow: none;
}

.text-after-image {
  clear: left;
}

.reveal .slides section .column img {
  max-height: 600px;
}

.reveal .slides section .column img[alt=full-width],
.reveal .slides section .column img[alt=height-300],
.reveal .slides section .column img[alt=height-250],
.reveal .slides section .column img[alt=height-200],
.reveal .slides section .column img[alt=height-200-orange-border],
.reveal .slides section .column img[alt=height-150]{
  display: block;
  position: relative;
	margin-left: 15px;
}

.reveal .slides section .column img[alt=full-width] {
	border: 2.5px solid #C0C0C0;
}

.reveal .slides section .column img[alt=height-300] {
  max-height: 300px;
}

.reveal .slides section .slideContent p img[alt=centered-height-250]{
  max-height: 250px !important;
}

.reveal .slides section .column img[alt=height-450] {
  max-height: 450px;
}

.reveal .slides section .column img[alt=height-200] {
  max-height: 200px;
}

.reveal .slides section .column img[alt=height-200-orange-border] {
	border: 10px solid #ff350f;
  max-height: 200px;
}

.reveal .slides section .column img[alt=height-150] {
  max-height: 150px;
}

img[alt=centered],
.reveal .slides section img[alt=centered-border],
.reveal .slides section .slideContent p img[alt=centered-height-250],
.reveal .slides section img[alt=centered-orange-border],
img[alt=icon-centered],
img[alt=small-centered] {
  display: block;
  margin: 0 auto !important;
}

img[alt=centered]{
  height: 400px;
}

.reveal .slides section img[alt=centered-border]{
  border: 2.5px solid #C0C0C0;
}

.reveal .slides section img[alt=centered-orange-border]{
  border: 4.5px solid #ff350f;
}

img[alt=icon-centered] {
	width: 25%;
}

img[alt=small-centered] {
	width: 50%;
}

img[alt=icon-right] {
	float: right;
	max-height: 200px !important;
}

img[alt=icon-left-bottom] {
	top: 70%;
	display: block;
  position: absolute;
	height: 200px !important;
}

.reveal .slides section .mediaOnly img {
  max-width: 1200px;
  max-height: 600px;
}

.img-right {
    position: absolute;
    right: 0;
    top: 300px;
    width: 50%;
}

/**********************************
************ FOOTER ***************
**********************************/

.footer {
    
  color: #261144; 
  background: #f9fbfb;
  position: fixed; 
  top: 99%;
  width:100%;
}

.footer span {
font-family: 'Mulish';
font-size: 20px;
margin-left: 20px;
margin-top: 10px;
text-align: left; 
vertical-align: middle;
}

.logo {
position: absolute;
left: 40%;
top: 10px;
}

.trademark {
position: absolute;
left: 52.5%;
color: #261144;
font-family: 'Mulish';
}

.page-number{
position: absolute;
left: 95%;
color: #261144;
font-family: 'Mulish';
}
